In [1]:
import numpy as np
import pandas as pd
from pathlib import Path

In [2]:
data_path = Path("../../data/cork/raw_flights.csv")

df = pd.read_csv(data_path)
df

,Departure Time,Aircraft Model,Destination IATA,Destination Name,Flight Number
0,18:40,AT72,BRS,Bristol Int'l,EAI3842
1,21:25,B38M,GRO,Girona-Costa Brava,RYR9039
2,21:25,A20N,LHR,London Heathrow,EIN724
3,23:10,B738,STN,London Stansted,RYR908
4,23:35,B38M,MAN,Manchester,RYR2088
5,05:55,B738,CRL,Brussels South Charleroi,RYR2976
6,05:55,B738,BOD,Bordeaux-Merignac,RYR9009
7,05:55,B738,STN,London Stansted,RYR902
8,06:10,A320,AMS,Amsterdam Schiphol,EIN840
9,06:25,E75L,AMS,Amsterdam Schiphol,KLM1126
10,06:50,B38M,ALC,Alicante,RYR4157
11,07:30,A20N,LHR,London Heathrow,EIN710
12,07:35,A320,TFS,Tenerife South (Reina Sofia),EIN874
13,08:20,B738,GDN,Gdansk Lech Walesa,RYS8781
14,08:25,B738,POZ,Poznań-Ławica,RYS7245
15,08:35,B38M,AGP,Malaga,RYR7735
16,09:35,B738,FAO,Faro,RYR5779
17,09:50,B738,CCF,Carcassonne Salvaza,RYR9019
18,10:55,B738,FCO,Leonardo da Vinci Int'l (Fiumicino Int'l),RYR5854
19,11:00,E190,CDG,Charles de Gaulle/Roissy,HOP1079

In [3]:
# Convert departure times to datetime format for better analysis
df['Departure Time'] = pd.to_datetime(df['Departure Time'], format='%H:%M').dt.time

In [4]:
df

,Departure Time,Aircraft Model,Destination IATA,Destination Name,Flight Number
0,18:40:00,AT72,BRS,Bristol Int'l,EAI3842
1,21:25:00,B38M,GRO,Girona-Costa Brava,RYR9039
2,21:25:00,A20N,LHR,London Heathrow,EIN724
3,23:10:00,B738,STN,London Stansted,RYR908
4,23:35:00,B38M,MAN,Manchester,RYR2088
5,05:55:00,B738,CRL,Brussels South Charleroi,RYR2976
6,05:55:00,B738,BOD,Bordeaux-Merignac,RYR9009
7,05:55:00,B738,STN,London Stansted,RYR902
8,06:10:00,A320,AMS,Amsterdam Schiphol,EIN840
9,06:25:00,E75L,AMS,Amsterdam Schiphol,KLM1126
10,06:50:00,B38M,ALC,Alicante,RYR4157
11,07:30:00,A20N,LHR,London Heathrow,EIN710
12,07:35:00,A320,TFS,Tenerife South (Reina Sofia),EIN874
13,08:20:00,B738,GDN,Gdansk Lech Walesa,RYS8781
14,08:25:00,B738,POZ,Poznań-Ławica,RYS7245
15,08:35:00,B38M,AGP,Malaga,RYR7735
16,09:35:00,B738,FAO,Faro,RYR5779
17,09:50:00,B738,CCF,Carcassonne Salvaza,RYR9019
18,10:55:00,B738,FCO,Leonardo da Vinci Int'l (Fiumicino Int'l),RYR5854
19,11:00:00,E190,CDG,Charles de Gaulle/Roissy,HOP1079

In [5]:
# Count the frequency of each aircraft model
aircraft_model_counts = df['Aircraft Model'].value_counts()
aircraft_model_counts

Aircraft Model
B738    9
B38M    4
A20N    2
A320    2
AT72    1
E75L    1
E190    1
Name: count, dtype: int64

In [6]:
# Define the minimum passenger capacities for each aircraft model
minimum_passenger_capacities = {
    "B738": 162,
    "B38M": 178,
    "A20N": 140,
    "E190": 96,
    "A320": 150,
    "B737": 126,
    "B739": 178,
    "A321": 185,
    "A330": 250,
    "B77W": 368,
    "B789": 242,
    "A359": 300,
}

df['Minimum Passengers'] = df['Aircraft Model'].map(minimum_passenger_capacities)
df

,Departure Time,Aircraft Model,Destination IATA,Destination Name,Flight Number,Minimum Passengers
0,18:40:00,AT72,BRS,Bristol Int'l,EAI3842,NaN
1,21:25:00,B38M,GRO,Girona-Costa Brava,RYR9039,178.0
2,21:25:00,A20N,LHR,London Heathrow,EIN724,140.0
3,23:10:00,B738,STN,London Stansted,RYR908,162.0
4,23:35:00,B38M,MAN,Manchester,RYR2088,178.0
5,05:55:00,B738,CRL,Brussels South Charleroi,RYR2976,162.0
6,05:55:00,B738,BOD,Bordeaux-Merignac,RYR9009,162.0
7,05:55:00,B738,STN,London Stansted,RYR902,162.0
8,06:10:00,A320,AMS,Amsterdam Schiphol,EIN840,150.0
9,06:25:00,E75L,AMS,Amsterdam Schiphol,KLM1126,NaN
10,06:50:00,B38M,ALC,Alicante,RYR4157,178.0
11,07:30:00,A20N,LHR,London Heathrow,EIN710,140.0
12,07:35:00,A320,TFS,Tenerife South (Reina Sofia),EIN874,150.0
13,08:20:00,B738,GDN,Gdansk Lech Walesa,RYS8781,162.0
14,08:25:00,B738,POZ,Poznań-Ławica,RYS7245,162.0
15,08:35:00,B38M,AGP,Malaga,RYR7735,178.0
16,09:35:00,B738,FAO,Faro,RYR5779,162.0
17,09:50:00,B738,CCF,Carcassonne Salvaza,RYR9019,162.0
18,10:55:00,B738,FCO,Leonardo da Vinci Int'l (Fiumicino Int'l),RYR5854,162.0
19,11:00:00,E190,CDG,Charles de Gaulle/Roissy,HOP1079,96.0

In [7]:
from datetime import datetime, timedelta

# Function to create time ranges
def generate_time_ranges(start_time, end_time, interval_minutes) -> list:
    time_ranges = []
    current_time = start_time
    while current_time < end_time:
        end_interval_time = current_time + timedelta(minutes=interval_minutes)
        time_ranges.append((current_time.time(), end_interval_time.time()))
        current_time += timedelta(minutes=interval_minutes // 2)  # 30-minute steps
    return time_ranges

# Create the time ranges
start_time = datetime.strptime('04:00', '%H:%M')
end_time = datetime.strptime('23:59', '%H:%M')
time_ranges = generate_time_ranges(start_time, end_time, 60)

# Initialize lists to store results
time_range_list = []
flight_count_list = []
passenger_count_list = []

# Process each time range
for start, end in time_ranges:
    # Filter flights within the current time range
    flights_in_range = df[(df['Departure Time'] >= start) & (df['Departure Time'] < end)]
    
    # Count the number of flights
    flight_count = len(flights_in_range)
    
    # Sum the minimum passengers
    total_minimum_passengers = flights_in_range['Minimum Passengers'].sum()
    
    # Append results to lists
    time_range_list.append(f"{start.strftime('%H:%M')} to {end.strftime('%H:%M')}")
    flight_count_list.append(flight_count)
    passenger_count_list.append(total_minimum_passengers)

# Create the resulting DataFrame
busy_times_df = pd.DataFrame({
    'Time Range': time_range_list,
    'Number of Flights': flight_count_list,
    'Minimum Passengers': passenger_count_list
})

busy_times_df

        Time Range  Number of Flights  Minimum Passengers
0   04:00 to 05:00                  0                 0.0
1   04:30 to 05:30                  0                 0.0
2   05:00 to 06:00                  3               486.0
3   05:30 to 06:30                  5               636.0
4   06:00 to 07:00                  3               328.0
5   06:30 to 07:30                  1               178.0
6   07:00 to 08:00                  2               290.0
7   07:30 to 08:30                  4               614.0
8   08:00 to 09:00                  3               502.0
9   08:30 to 09:30                  1               178.0
10  09:00 to 10:00                  2               324.0
11  09:30 to 10:30                  2               324.0
12  10:00 to 11:00                  1               162.0
13  10:30 to 11:30                  2               258.0
14  11:00 to 12:00                  1                96.0
15  11:30 to 12:30                  0                 0.0
16  12:00 to 13:00                  0                 0.0
17  12:30 to 13:30                  0                 0.0
18  13:00 to 14:00                  0                 0.0
19  13:30 to 14:30                  0                 0.0
20  14:00 to 15:00                  0                 0.0
21  14:30 to 15:30                  0                 0.0
22  15:00 to 16:00                  0                 0.0
23  15:30 to 16:30                  0                 0.0
24  16:00 to 17:00                  0                 0.0
25  16:30 to 17:30                  0                 0.0
26  17:00 to 18:00                  0                 0.0
27  17:30 to 18:30                  0                 0.0
28  18:00 to 19:00                  1                 0.0
29  18:30 to 19:30                  1                 0.0
30  19:00 to 20:00                  0                 0.0
31  19:30 to 20:30                  0                 0.0
32  20:00 to 21:00                  0                 0.0
33  20:30 to 21:30                  2               318.0
34  21:00 to 22:00                  2               318.0
35  21:30 to 22:30                  0                 0.0
36  22:00 to 23:00                  0                 0.0
37  22:30 to 23:30                  1               162.0
38  23:00 to 00:00                  0                 0.0
39  23:30 to 00:30                  0                 0.0

In [8]:
# Filtering if time ranges has no flights
busy_times_df = busy_times_df[busy_times_df['Number of Flights'] > 0]

busy_times_df.reset_index(drop=True, inplace=True)

busy_times_df

        Time Range  Number of Flights  Minimum Passengers
0   05:00 to 06:00                  3               486.0
1   05:30 to 06:30                  5               636.0
2   06:00 to 07:00                  3               328.0
3   06:30 to 07:30                  1               178.0
4   07:00 to 08:00                  2               290.0
5   07:30 to 08:30                  4               614.0
6   08:00 to 09:00                  3               502.0
7   08:30 to 09:30                  1               178.0
8   09:00 to 10:00                  2               324.0
9   09:30 to 10:30                  2               324.0
10  10:00 to 11:00                  1               162.0
11  10:30 to 11:30                  2               258.0
12  11:00 to 12:00                  1                96.0
13  18:00 to 19:00                  1                 0.0
14  18:30 to 19:30                  1                 0.0
15  20:30 to 21:30                  2               318.0
16  21:00 to 22:00                  2               318.0
17  22:30 to 23:30                  1               162.0

In [9]:
# Filtering rows that are not within the current day

from datetime import datetime

# Get the current time in 'HH:MM' format
time_now = datetime.now().strftime('%H:%M')

# Initialize a list to store indices of rows to drop
indices_to_drop = []

# Iterate over the 'Time Range' column to check each time range
for index, row in busy_times_df.iterrows():
    start_time = row["Time Range"].split(" to ")[0]
    start_time = pd.to_datetime(start_time, format='%H:%M').strftime('%H:%M')
    
    if start_time > time_now:
        pass
    else:
        # Remove this rows
        indices_to_drop.append(index)

# Drop the rows that are not within the desired time range
busy_times_df = busy_times_df.drop(indices_to_drop)
busy_times_df.reset_index(drop=True, inplace=True)

busy_times_df

       Time Range  Number of Flights  Minimum Passengers
0  20:30 to 21:30                  2               318.0
1  21:00 to 22:00                  2               318.0
2  22:30 to 23:30                  1               162.0

In [10]:
# Saving everything
busy_times_path = Path("../../data/cork/busy_times.csv")
busy_times_df.to_csv(busy_times_path, index=False)

flights_path = Path("../../data/cork/flights_processed.csv")
df.to_csv(flights_path, index=False)